body {
  background-color: rgb(211, 242, 227);
  color: rgb(0, 0, 0);
}


.charityCard {
  display: flex;
  flex-direction: column;

}

.addCharityBtn {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.d-flex.flex-wrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}


/* .card img{
  width: fi !important;
  height: fit-content !important;
} */

.navbar {
  font-size: 25px;
}

link:hover {
color: rgb(180, 98, 111) !important;
}

.cardImage {
  height: 210px !important;
}

.nav-link:hover {
color: rgb(199, 130, 2) !important;
}

.navbar-brand:hover {
color:orange !important;

}
